<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.blog.website.dao.CerticatteVoMapper">
  <resultMap id="BaseResultMap" type="com.my.blog.website.modal.Vo.CertificateVo">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="modified" jdbcType="INTEGER" property="modified" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="categories" jdbcType="VARCHAR" property="categories" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="vali_code" jdbcType="VARCHAR" property="valiCode" />
    <result column="certifying_authority" jdbcType="VARCHAR" property="certifyingAuthority" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="laboratory_number" jdbcType="VARCHAR" property="laboratoryNumber" />
    <result column="total_mass" jdbcType="VARCHAR" property="totalMass" />
    <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cid, title, slug, created, modified, author_id, type, status, tags, categories, hits, 
    vali_code, certifying_authority, image_url, laboratory_number,total_mass,limit_num,remak,testResult
  </sql>

  <select id="selectByExample" parameterType="com.my.blog.website.modal.Vo.CertificateVoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_certificate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_certificate
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_certificate
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.my.blog.website.modal.Vo.CertificateVoExample">
    delete from t_certificate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.my.blog.website.modal.Vo.CertificateVo" useGeneratedKeys="true" keyProperty="cid">
    insert into t_certificate (cid, title, slug, 
      created, modified, author_id, 
      type, status, tags, 
      categories, hits, vali_code, certifying_authority, image_url, laboratory_number,total_mass,limit_num,remak,test_result)
    values (#{cid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, 
      #{created,jdbcType=INTEGER}, #{modified,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{categories,jdbcType=VARCHAR}, #{hits,jdbcType=INTEGER}, #{valiCode,jdbcType=VARCHAR},
      #{certifyingAuthority,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{laboratoryNumber,jdbcType=VARCHAR},
      #{totalMass,jdbcType=INTEGER},#{limitNum,jdbcType=INTEGER},#{remak,jdbcType=VARCHAR},#{testResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.my.blog.website.modal.Vo.CertificateVo" useGeneratedKeys="true" keyProperty="cid">
    insert into t_certificate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="categories != null">
        categories,
      </if>
      <if test="hits != null">
        hits,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="categories != null">
        #{categories,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.my.blog.website.modal.Vo.CertificateVo" resultType="java.lang.Long">
    select count(*) from t_certificate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_certificate
    <set>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.slug != null">
        slug = #{record.slug,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=INTEGER},
      </if>
      <if test="record.modified != null">
        modified = #{record.modified,jdbcType=INTEGER},
      </if>
      <if test="record.authorId != null">
        author_id = #{record.authorId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.categories != null">
        categories = #{record.categories,jdbcType=VARCHAR},
      </if>
      <if test="record.hits != null">
        hits = #{record.hits,jdbcType=INTEGER},
      </if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_certificate
    set cid = #{record.cid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      slug = #{record.slug,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=INTEGER},
      modified = #{record.modified,jdbcType=INTEGER},
      author_id = #{record.authorId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      categories = #{record.categories,jdbcType=VARCHAR},
      hits = #{record.hits,jdbcType=INTEGER},
    vali_code = #{record.valiCode,jdbcType=VARCHAR},
    certifying_authority = #{record.certifyingAuthority,jdbcType=VARCHAR},
    image_url = #{record.imageUrl,jdbcType=VARCHAR},
    laboratory_number = #{record.laboratoryNumber,jdbcType=INTEGER},
    total_mass = #{record.totalMass,jdbcType=INTEGER},
    limit_num = #{record.limitNum,jdbcType=INTEGER},
    remak = #{record.remak,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_certificate
    set cid = #{record.cid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      slug = #{record.slug,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=INTEGER},
      modified = #{record.modified,jdbcType=INTEGER},
      author_id = #{record.authorId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      categories = #{record.categories,jdbcType=VARCHAR},
      hits = #{record.hits,jdbcType=INTEGER},
      vali_code = #{record.valiCode,jdbcType=VARCHAR},
    certifying_authority = #{record.certifyingAuthority,jdbcType=VARCHAR},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
    laboratory_number = #{record.laboratoryNumber,jdbcType=INTEGER},
    total_mass = #{record.totalMass,jdbcType=INTEGER},
    limit_num = #{record.limitNum,jdbcType=INTEGER},
    remak = #{record.remak,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.blog.website.modal.Vo.CertificateVo">
    update t_certificate
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="categories != null">
        categories = #{categories,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.my.blog.website.modal.Vo.CertificateVo">
    update t_certificate
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      modified = #{modified,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      categories = #{categories,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      vali_code = #{record.valiCode,jdbcType=VARCHAR},
    certifying_authority = #{record.certifyingAuthority,jdbcType=VARCHAR},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
    laboratory_number = #{record.laboratoryNumber,jdbcType=INTEGER},
    total_mass = #{record.totalMass,jdbcType=INTEGER},
    limit_num = #{record.limitNum,jdbcType=INTEGER},
    remak = #{record.remak,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.blog.website.modal.Vo.ContentVo">
    update t_certificate
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      modified = #{modified,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      categories = #{categories,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      vali_code = #{record.valiCode,jdbcType=VARCHAR},
    certifying_authority = #{record.certifyingAuthority,jdbcType=VARCHAR},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
    laboratory_number = #{record.laboratoryNumber,jdbcType=INTEGER},
    total_mass = #{record.totalMass,jdbcType=INTEGER},
    limit_num = #{record.limitNum,jdbcType=INTEGER},
    remak = #{record.remak,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>


  <resultMap id="archiveBoMap" type="com.my.blog.website.modal.Bo.ArchiveBo">
    <id column="date" property="date"/>
    <result column="count" property="count"/>
  </resultMap>

  <select id="findReturnArchiveBo" resultMap="archiveBoMap">
    select FROM_UNIXTIME(created, '%Y年%m月') as date, count(*) as count from t_certificate where type = 'post' and status = 'publish' group by date order by date desc
  </select>


  <select id="findByCatalog" resultMap="BaseResultMap" parameterType="Integer">
    select a.*
    from t_certificate a left join t_relationships b on a.cid = b.cid
    where b.mid = #{value} and a.status = 'publish' and a.type = 'post'
    order by a.created desc
  </select>
</mapper>